@page
@model WebdevProjectStarterTemplate.Pages.Categories.Create

<div style="display: flex; justify-content: center; align-items: center;">
    <div style="width: 400px;">
        <h1>Nieuwe Categorie aanmaken</h1>
        <form method="POST">
            <div class="form-group">
                <label asp-for="categorie.Naam">Naam:</label>
                <input asp-for="categorie.Naam" class="form-control" />
                <span asp-validation-for="categorie.Naam"></span>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-primary">Aanmaken</button>
                <button asp-page-handler="Cancel" class="btn btn-danger">Annuleren</button>
            </div>
        </form>
    </div>
</div>
