bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/WebdevProjectStarterTemplate/appsettings.json
/.vs/ChipSnack/v17/.suo
/.vs/WebdevProjectStarterTemplate/FileContentIndex/read.lock
/.vs/WebdevProjectStarterTemplate/FileContentIndex/5c8e9a38-ca9f-42aa-bab9-3ad8b31d49c8.vsidx
