@page
@model WebdevProjectStarterTemplate.Pages.Register.IndexModel

    <h1>Registreer nieuwe gebruiker</h1>


        <form method="post">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="naam">Naam</label>
                <input type="text" id="naam" name="naam" class="form-control" />

            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="email">Email address</label>
                <input type="email" id="email" name="email" class="form-control" />

            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="password">Wachtwoord</label>
                <input type="password" id="Password" name="Password" class="form-control" />

            </div>


            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="admin">Admin</label>
                <input type="number" id="admin" name="admin" class="form-control" />

            </div>



            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Registreer</button>


        </form>
        