@page
@using WebdevProjectStarterTemplate.Models
@using WebdevProjectStarterTemplate.Pages
@model WebdevProjectStarterTemplate.Pages.History.Index
<div class="row">
    <div class="col">
        
        <h1>History</h1>
        
        <table class="table table-striped">
        <tbody>
        <tr>
            <td>Snack</td> <td>aantal</td>
        </tr>
        @foreach (History history in Model.History)
        {
            <tr>
                <td>
                    <a asp-page="@nameof(Pages.Snacks.UpdateModel)" asp-route-snackId="@history.Snack.Id"> @history.Snack.Naam </a>
                </td>
                <td>
                    @history.Totaal
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
</div>
