@page "{snackId:int}"
@model WebdevProjectStarterTemplate.Pages.Snacks.Delete
@{

<div class="row">
    <div class="col">
        <h1>Weet je zeker dat je @(Model.Snack.Naam) wilt verwijderen ?</h1>
        <hr>
        <form method="POST">
            <button asp-page-handler="Delete" class="btn btn-success">Ja</button>
                <button href='javascript:history.go(-1)' class="btn btn-danger">Nee</button>
        </form>        
    </div>
</div>

}
