@page
@model WebdevProjectStarterTemplate.Pages.Login.LogoutModel
@{
    <head>
        <div>
            <title>Do you want to log out?</title>
        </div>
    </head>
    <body>
        <h1>Weet je het zeker?</h1>
        <form method="post">
          
        <button type="submit" class="btn btn-primary btn-block mb-4">Ja</button>
        </form>
    </body>
}
