@page
@model WebdevProjectStarterTemplate.Pages.Login.LogoutModel
<!DOCTYPE html>
<html>
<head>
    <title>Wil je uitloggen?</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Weet je het zeker?</h1>
        <form method="post">
            <div class="text-center">
                <button type="submit" class="btn btn-primary mr-2">Ja</button>
                <a href="/Snacks/Index" class="btn btn-danger">Nee</a>
            </div>
        </form>
    </div>
</body>
</html>
