@page
@model WebdevProjectStarterTemplate.Pages.BudgetMax.IndexModel
<div class="d-flex flex-column align-items-center">
    <h1>Max budget</h1>
    <hr>
    <div class="d-flex flex-column align-items-center">
        <div>
            <p>Het maximale bedrag dat een medewerker mag uitgeven:<strong> € @(Model.budgets.BudgetMax / 100.0)</strong></p>
        </div>
        <div>
            <a asp-page="@nameof(Update)" asp-route-budgetId="@Model.budgets.Id" class="btn btn-info">Max budget aanpassen</a>
        </div>
    </div>
</div>

