@page "{budgetId:int}"
@model WebdevProjectStarterTemplate.Pages.BudgetMax.Update
<div class="row">
    <div class="col">
        <h1>Budget aanpassen</h1>
        <form method="POST">
            <input type="hidden" asp-for="budget.Id" />
            <div class="form-group">
                <label asp-for="budget.BudgetMax">budget Max:</label>
                <input asp-for="budget.BudgetMax" class="form-control" />
                <span asp-validation-for="budget.BudgetMax"></span>
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-success">Opslaan</button>
                <button asp-page-handler="Cancel" class="btn btn-danger">Annuleren</button>
            </div>
        </form>
    </div>
</div>
