@page "{budgetId:int}"
@model WebdevProjectStarterTemplate.Pages.BudgetMax.Update
<div class="row justify-content-center">
    <div class="col-lg-6">
        <h1 class="text-center">Budget aanpassen</h1>
        <form method="POST">
            <input type="hidden" asp-for="budget.Id" />
            <div class="form-group">
                <label asp-for="budget.BudgetMax"><strong>Let op!</strong> Maximum budget in centen invoeren.</label>
                <input asp-for="budget.BudgetMax" class="form-control" />
                <span asp-validation-for="budget.BudgetMax" class="text-danger"></span>
            </div>
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-success mr-2">Opslaan</button>
                <button asp-page-handler="Cancel" class="btn btn-danger">Annuleren</button>
            </div>
        </form>
    </div>
</div>

