@using Microsoft.AspNetCore.Authentication

@{
    bool isAuthenticated = Context.User.Identity.IsAuthenticated;
    var userName = isAuthenticated ? Context.User.Identity.Name : string.Empty;
    var isAdmin = Context.User.IsInRole("admin");


}


@if (Context.User.Identity.IsAuthenticated)
    {
        <a href="https://localhost:44364/Login/Logout">Uitloggen</a>
    
}


