@page "{snackbarId:int}"
@model WebdevProjectStarterTemplate.Pages.Snackbars.Delete
@{

    <div class="row">
        <div class="col">
            <div style="display: flex; justify-content: center; align-items: center;">
                <div style="text-align: center;">
                    <h1>Weet je zeker dat je @(Model.Snackbar.Naam) wilt verwijderen?</h1>
                    <hr>
                    <form method="POST">
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <div class="m-xl-2">
                                <button asp-page-handler="Delete" class="btn btn-success btn-lg">Ja</button>
                            </div>
                            <div class="m-xl-2">
                                <button asp-page-handler="Cancel" class="btn btn-danger btn-lg">Nee</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

}
