@page
@model WebdevProjectStarterTemplate.Pages.WachtwoordVergeten.IndexModel


<!DOCTYPE html>
<html>
<head>
    <title>Wachtwoord Veranderen</title>
</head>
<body>
    <h1>Verander Wachtwoord</h1>


    <form method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="username">Email address</label>
            <input type="email" id="username" name="Username" class="form-control" />

        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="password">Password</label>
            <input type="password" id="password" name="Password" class="form-control" />

        </div>



        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Verander Wachtwoord</button>

 
    </form>
</body>
</html>

